* {
	box-sizing: border-box;
}

.jumbotron {
	width: 40%;
	margin: 10px auto;
	text-align: center; 
	border-radius: 10px;
	border: #ccc solid 1px;
}

table {
	margin: 20px auto;
	padding: 10px;
}	



table th {
	text-align: center;
}

.divisoes {
	margin: 10px auto;
	width: 100%;
}

.divisoes input {
	padding: 7px;
	width: 100%;
}

.btn.btn-primary.btn-block, .btn.btn-danger.btn-block {
	padding: 10px;
}

.selecionado {
	font-weight: bold;
}

.inputs {
	margin-bottom: 55px;
}

.footer {
	margin: 80px auto; 
	text-align: center;
}

.contato {
	text-decoration: none;
	color: #272626;
}

.contato:hover {
	color: #666;
	text-decoration: none;
}